
body {
  background: black;
  color: white;
  font-family: Arial;
}

h1 {
  text-align: center;
}

td {
  width: calc(100vw / 7);
  border: 1px solid grey;
  text-align: center;
  padding: 1em 0;
}

ul {
  list-style: none;
}

@media (min-width: 0px) {

  header {
    height: 12em;
  }

  button {
    display: block;
    margin: auto;
    width: 120px;
    font-size: 1.5em;
  }

  tr:nth-of-type(1) {
    display: none;
  }

  tr:nth-of-type(3) > td, tr:nth-of-type(4) > td, tr:nth-of-type(5) > td, tr:nth-of-type(6) > td, tr:nth-of-type(7) > td, tr:nth-of-type(8) > td {
    height: calc(100vw / 7);
  }

  ul {
    display: none;
  }

}

@media (min-width: 400px) {

  body {
    transform: rotate(0deg);
  }

}

@media (min-width: 600px) {

  header {
    display: flex;
    justify-content: space-around;
    height: 5em;
  }

  ul {
    margin-left: -3.5em;
  }

}

@media (min-width: 800px) {

  body {
    font-size: 1rem;
  }

  header {
    display: flex;
    justify-content: space-around;
    height: 7em;
  }

  h1 {
    padding-top: 0.5em;
  }

  button {
    width: 160px;
    align-self: center;
    margin: 0;
  }

  ul {
    margin-left: -2em;
  }

}
