
body {
  background: black;
  color: white;
  font-family: Arial;
}

header {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
}

button {
  width: 160px;
}

td {
  width: calc(100vw / 7);
  border: 1px solid grey;
  text-align: center;
  padding: 1em 0;
}

ul {
  margin-left: -2.5em;
  list-style: none;
}
